.vc-welfareLi{
    position: relative;
}
.mp-expiredImg{
    position: absolute;bottom: 0;
    width: 20%;
    right: 0;
}
.mp-blankWord{
    text-align: center;
    font-size: 13px;
}
.mp-blankWord a{

}