body{
    background: #F5F5F5;
}
.os-result{background:url("../img/success.jpg") no-repeat;background-size: 100%;position: relative}
.os-resultInfo{
    position: absolute;
    top: 50%;
    margin-top: -20px;
    left: 5%;
    color: #FFFFFF;
    font-size: 14px;
}
.os-resultB{
    font-size: 12px;
}
.os-goOrder{
    padding: 10px 5%;
    background: #FFFFFF;
    /*margin-bottom: 5px;*/
}
.os-goOrderL,.os-goOrderR{
    width: 50%;
    display: inline-block;
    text-align: center;
}
.os-goOrderL span,.os-goOrderR span{
    border:1px solid #A5A5A5;
    display: inline-block;
    width: 70%;
    text-align: center;
    border-radius: 20px;
    font-size: 14px;
    padding: 3px 0;
}