body{

}
/*分类*/
.pl-productStyle{width: 24%;float: left;min-height: 100%;border-right: 1px solid #F0F0F0;}
.pl-productStyleLi{
    width: 100%;display: inline-block;background-color: #FFFFFF;text-align: center;color: #484848;
    height:50px;
    line-height: 50px;
    font-size: 13px;
    text-overflow:ellipsis;
    white-space:nowrap;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    transition: transform .1s linear;
    transform-origin: center center;
    transform: scale(0.76);
    -webkit-transition: -webkit-transform .1s linear;
    -webkit-transform-origin: center center;
    -webkit-transform: scale(0.76);
}
.pl-productStyleLiChose{
    font-size: 16px;
    color: #33B8F1;
    /*color: #fb7d34;*/
    transform: scale(1);
    -webkit-transform: scale(1);
}
.pl-productStyleLiLast{

}
.pl-productShow{
    float: left;
    width: 76%;
    padding: 0 2.5%;
}
.pl-productShowTitle img{ width: 100%;height: auto;}
/*.pl-productShowTitle{margin-top: 15px;}*/
.pl-productShow1Title{
    font-size: 13px;
    margin: 5px 0 0;
    padding: 0;
    color: #232326;
    height: 60px;
    line-height: 60px;
    font-weight: 400;
    text-align: center;
    width:100%;
    overflow: hidden;
    /*white-space: nowrap;*/
    /*text-overflow: ellipsis;*/
}
.pl-productShow1Title span{
    position: relative;
}
.pl-productShow1TitleSpan1{
    position: absolute;
    top: -4px;
    left: 0;
    width: 20px;
    height: 1px;
    display: inline-block;
    background:#e0e0e0;
}
.pl-productShow1TitleSpan2{
    position: absolute;
    top: -4px;
    right: 0;
    width: 20px;
    height: 1px;
    background:#e0e0e0;
    display: inline-block;
}

.pl-productShow1Ul,.pl-productShow1Ul2{
    width: 100%;background-color: #FFFFFF;padding: 16px 4.7%;text-align: center;
}
.pl-productShow1Li{
    width: 24%;float: left;text-align: center;margin-right: 13%;
}
.pl-productShow1LiLast{margin-right: 0;}
.pl-productShow1Li img{height: 55px;width: 55px;}
.pl-productShow1LiWord{
    text-align: center;
    font-size: 12px;
    height: 24px;
    color:rgba(0,0,0,.54);
    width: 100%;
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    line-height: 12px;
    margin-top: 7.5px;
}
/*查看更多*/
.pl-showMore{
    font-size: 10px;color: #85878A;
    float:right;
    font-weight: normal;
}
.pl-showMore img{display: inline-block;width:6px;height: 10px;margin-top: -1px;}
.pl-productShow1Ul2{padding-bottom:10px;}


/*左侧滑动*/
.pl-productStyle{overflow-y:scroll;-webkit-overflow-scrolling: touch;}
.pl-productShow{overflow-y:scroll;-webkit-overflow-scrolling: touch;}
.pl-productStyle::-webkit-scrollbar,.pl-productShow::-webkit-scrollbar{
    display: none;
}
/*
图片轮播*/
.pl-productShowTitle img{ width: 100%;margin: auto;}
.i-banner{width: 100%;text-align: center;margin: auto;}
.main_image li img,.main_image li a {
    display: block;
    width: 100%;

}
.main_image li {
    float: left;
    width: 100%;
}
.main_image ul {
    position: relative;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
}
.i-banner1Ul li{
    position: absolute !important;
}
.main_image {
    overflow: hidden;
    position: relative;
}
div.flicking_con {
    position: absolute;
    bottom: 2%;
    left: 43.4%;
    z-index: 995;
    width: 100%;
    height: 21px;
    /* margin: 0 0 0 -50px;*/
}
div.flicking_con1 {
    position: absolute;
    bottom: 2%;
    left: 43.4%;
    z-index: 999;
    width: 100%;
    height: 21px;
    /* margin: 0 0 0 -50px;*/
}
.main_visual {
    overflow: hidden;
    position: relative;

}

div.flicking_con a {
    float: left;
    width: 8px;
    height: 8px;
    margin: 0;
    padding: 0;
    background-color: #fff;
    border-radius: 50%;
    display: block;
    text-indent: -1000px;
    margin-right: 2%;
}
div.flicking_con a.on{
    float: left;
    width: 8px;
    height: 8px;
    margin: 0;
    padding: 0;
    background-color: #32B8F1;
    border-radius: 50%;
    display: block;
    text-indent: -1000px;
    margin-right: 2%;
}

/*查看更多*/
.pl-more{
    width: 100%;
    background-color: #FBF3E6;
    font-size: 13px;
    text-align: center;
    padding: 4.5px 0;
    color: #A2977D;
    margin-top: 10px;
}
.pl-moreImg{
    width: 13px;
    margin-top: -2px;
}